{% extends 'base.html.twig' %}

{% block title %}React Controller{% endblock %}

{% block body %}
  <section class='container card-section my-5'>
    <div class="row">
      <div class='d-flex flex-column justify-content-md-between mb-4'>        
        {# <div {{ react_component('Franchises', { 'variable': variable })}}></div> #}
        <div {{ react_component('Franchises')}}></div>
      </div>
    </div>
  </section>
{% endblock %}
