{% extends 'base.html.twig' %}

{% block title %}React Controller{% endblock %}

{% block body %}
<div class="react-test-wrapper">
  <h1>React Controller</h1>
  <section id="react-test-section">
    <div>
      
    </div>
  </section>
</div>
{% endblock %}
