<h1>Bonjour et bienvenue! Confirmez votre adresse e-mail!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant et en utilisant les informations suivantes pour vous connecter:
    <br><br>
    <p>Utilisateur: {{ user.email }}</p>
    <p>Mot de passe: 123456</p>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Ce lien expirera en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
