{% extends 'base.html.twig' %}

{% block title %}Verification d'email{% endblock %}

{% block body %}
<section class="container bg-light p-5 text-center">

    {% if app.user %}
    <div class="text-center mb-3">
      <h1>Votre adresse e-mail a été vérifiée!</h1>
      <h2>Merci et bienvenue dans la famille TODAYFIT</h2>
    </div>
    <p>Vous pouvez desormais accèder à votre panneau d'administration avec votre nouveau mot de passe et votre e-mail: {{ app.user.userIdentifier }}</p>
    {% else %}
      <p>Vous n'êtes pas connecté</p>
      <a href="{{ path('app_login') }}" class="dropdown-item">Login</a>
    {% endif %}
    {# <div>
      <a href="http://www.juanjosemora.es" class="btn btn-success my-3">Acceder au site web</a>
    </div> #}
    {% if app.user.roles[0] == "ROLE_PARTNER" %}
      <div>
        <a href="{{ path('app_my_partner_show') }}" class="btn btn-success my-3">Acceder à mon Panneau d'information</a>
      </div>
    {% else %}
      <div>
        <a href="{{ path('app_my_franchise_show') }}" class="btn btn-success my-3">Acceder à mon Panneau d'information</a>
      </div>
    {% endif %}
    {% if user.passwordReset %}
      <a href="/reset-password" class="btn btn-outline-primary">Modifier mon Mot de Passe</a>
    {% endif %}
</section>
{% endblock %}