{% extends 'base.html.twig' %}

{% block title %}Nouvelle Structure{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 border border-primary py-4 px-4 custom-form">

  <div class="container d-flex flex-column justify-content-center">
    <section class="custom-form">
      <h1>Nouvelle Structure</h1>

      {{ include('partner/_form.html.twig') }}

      <a href="{{ path('app_partner_index') }}" class="my-3 btn btn-warning">Liste des Structures</a>
    </section>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('newPartnerForm') }}
{% endblock %}