{% extends 'base.html.twig' %}

{% block title %}New Partner{% endblock %}

{% block body %}
    <h1>Nouvelle Structure</h1>

    {{ include('partner/_form.html.twig') }}

    <a href="{{ path('app_partner_index') }}">Liste des Structures</a>
{% endblock %}
