{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
    <section class="container bg-light p-5">
      <p>
          Si une compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé contenant un lien que vous pouvez utiliser
          pour réinitialiser votre mot de passe.
      </p>
      <p>
        Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
      </p>
      <p>Si vous ne recevez pas d'e-mail, veuillew vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réesayez ici</a>.</p>
    </section>
{% endblock %}
