<h1>Réinitialisez votre mot de passe</h1>

<p>Pour réinitialiser votre mot de passe, visiter le lien</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

{# <p>Le lien expirera en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p> #}
<p>Le lien expirera en 48 heures.</p>

<p>Merci!</p>
