{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Please Reset your Password</h1>
    <p>Click here for password reset after first Login</p>
    <a href="/reset-password">Reset Password</a>
</div>
{% endblock %}