{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section class="container col-md-8 col-xl-6 bg-light py-5 px-4 mb-3 custom-form">
        <h1>Réinitialisez votre mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe
                </small>
            </div>

            <button class="btn btn-primary">Envoyer e-mail</button>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
