{% extends 'base.html.twig' %}

{% block title %}Email Verification{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 bg-light py-5 px-4 custom-form">
    <h1>Please Reset your Passwords</h1>
    <p>Click here for password reset after first Login</p>
    <a href="/reset-password">Reset Password</a>
</section>
{% endblock %}