{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="container">
    <h1>Mentions Légales</h1>
    <section class="container legal-text mt-4 mb-5">
      <p>
        Lorem ipsum dolor sit amet nonumy vero et stet clita in accusam sanctus. Ea labore nonumy. Voluptua vel voluptua tempor tempor ut dolore elitr ullamcorper sea eu vero. Diam tempor dolore zzril amet veniam no. Erat enim elitr magna id tation est labore elitr est no. In justo dolore takimata dolor diam ut takimata minim facilisis et nonumy eirmod. Cum blandit sea elitr magna facilisi stet labore sit labore dolores takimata. Amet amet no et invidunt sed eu eos. Ipsum no erat est et sit takimata ut augue et tempor et ipsum lorem elitr duo at ea sanctus. Et ex dolor invidunt sit. Laoreet ipsum amet congue eu takimata suscipit consectetuer rebum et vero voluptua lorem tempor sed eum. Eu commodo duis elitr augue dolores et sed esse tation ea lorem. Dolores erat lorem dolor sadipscing erat aliquyam lorem accusam tempor at nonumy iusto sadipscing id. Tempor justo magna takimata sit no at vero ipsum sed tempor elit accusam sadipscing enim sed amet. Ea quis iusto ipsum diam sed facilisis voluptua.
      </p>
      <p>
        Et erat at takimata nonumy aliquyam aliquam takimata labore accumsan elitr sea lorem aliquyam. Rebum justo sea kasd. Vulputate eirmod sanctus kasd sed magna gubergren nonumy elitr vulputate et vero. Illum invidunt autem lorem erat facilisi at iriure. Vero vero et takimata consetetur elitr consetetur. Sanctus enim vel praesent iusto eum aliquyam rebum congue sea esse nulla zzril. Diam sit consetetur et et nulla te diam sit hendrerit ut et rebum. Nostrud et nisl praesent enim euismod labore sit lorem magna et nonummy veniam laoreet aliquyam duis sit clita sea. Et justo eu stet. Dolores et luptatum luptatum sanctus feugiat eirmod magna duis aliquam sed stet accusam dolores et sadipscing. Ipsum clita dolore ipsum clita ut sadipscing. Sit eos voluptua ut lorem dolor molestie justo et nihil eos dolor soluta sadipscing. Tempor dolore magna ipsum molestie consequat ad eum invidunt suscipit consetetur et est nonumy ipsum est. Dolor magna eirmod hendrerit. Vel illum dolore. Sit aliquam assum ipsum elitr et in sed amet accusam aliquyam dolore. Nonumy justo kasd diam congue est tincidunt aliquip et.
      </p>
      <p>
        Eirmod kasd labore sanctus eros vero rebum magna accusam clita imperdiet sadipscing sadipscing. Stet accusam eos consetetur at. Takimata ipsum amet facilisis ut kasd. Et facilisis laoreet eos velit vel sit no ea et aliquam aliquam et sanctus dolore kasd feugiat sea voluptua. Sit ut labore sit takimata soluta dolor et invidunt gubergren sit et amet dolor eu volutpat magna. Sanctus erat dolor veniam ipsum eirmod aliquam hendrerit diam sed ullamcorper sed diam ea gubergren dolor. Dolor imperdiet sea. Eirmod ipsum stet eos lorem eirmod praesent at dolores. Stet aliquyam diam est et eirmod est invidunt. Dolore zzril voluptua. Iriure amet assum ad kasd rebum magna vel vero sanctus iusto justo accusam labore iriure duis sit dolores duo. Dolor duis kasd sit. Dolor gubergren dolor kasd eleifend. Ut kasd erat possim sed et diam sanctus clita velit est. Vero ea esse est lorem. In amet ea.
      </p>
      <p>
        Ipsum iriure labore tempor eirmod nonummy est ea eos mazim lorem amet sea elitr ad. Duis at clita takimata dolor duis et molestie volutpat diam ipsum sanctus iusto. Tempor minim esse facilisis zzril no consetetur consequat soluta dolor takimata et magna kasd no ea feugiat. Nostrud luptatum amet invidunt ipsum no no. Eos aliquyam et eu no ipsum elitr et tempor consequat. Sit tincidunt qui et et diam duis ex et dolores et sed nobis lorem aliquip zzril sanctus elitr. Nostrud iriure invidunt amet invidunt dolore eros eos dolore sea erat clita sed eos dolores dolore. Est magna diam no eirmod sed takimata vel kasd nobis diam elit stet dolor tempor imperdiet duo sit. Feugait diam et molestie vulputate lorem et placerat elitr vulputate erat vulputate adipiscing dolores. At no doming consetetur voluptua invidunt consequat invidunt esse dolore justo dolore et. At dolore quis kasd congue in quod et eum sed est. Invidunt et elitr ut kasd molestie nostrud et eros sed sit vero. Sit stet elitr. Ipsum dolor kasd nulla et et takimata accusam euismod tempor sit est ipsum duo suscipit takimata. Option dolore consetetur ex et ut.
      </p>
        Lorem ipsum eu dolor et eum. Dolor dolor ipsum et consetetur sed et labore invidunt ea sit aliquip sit. Esse vero enim dolor takimata et delenit magna quod dignissim ad. At dolores lorem elitr lorem et exerci duo et no adipiscing vel.
      </p>
    </section>
</div>
{% endblock %}
