$primary: orange;

body{
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer{
  //   position: fixed;
  //   bottom: 0px;
  min-height: 100px;
  margin-top: auto;
}

// LOGIN FORM
.custom-form{
  border-radius: 15px;
  
  button{
    margin: 20px 0px;
  }

  label{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}

.btn-indicator{
  cursor: none; 
}

// REGISTRATION FORM
.registration-form{
  ul{
    list-style: none;
    color: white;
    background: lightcoral;
  }
}

.franchise-title, .partner-title{
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.franchise-title{
  background-color: $primary;
}

.partner-title{
  background-color: lightseagreen;

}