<footer class="pt-2 container-fluid bg-light">
  <ul class="nav justify-content-center border-bottom text-center pb-2 mb-2">
    <li class="nav-item mx-2"><a href="{{ path('app_dashboard') }}" class="nav-link px-2 text-muted">Accueil</a></li>
    <li class="nav-item mx-2"><a href="{{ path('app_login') }}" class="nav-link px-2 text-muted">Se connecter</a></li>
    <li class="nav-item mx-2"><a href="{{ path('app_legal_code') }}" class="nav-link px-2 text-muted">Mentions Légales</a></li>
    <li class="nav-item mx-2"><a href="{{ path('app_legal_conditions') }}" class="nav-link px-2 text-muted">Conditions Générales</a></li>
    <li class="nav-item mx-2"><a href="https://www.todayfit.fr" target="_blank" class="nav-link px-2 text-muted">Public Website</a></li>
  </ul>
  <p class="text-center text-muted">© 2023 TodayFit</p>
</footer>