{% extends 'base.html.twig' %}

{% block title %}Modifier Permission{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 border border-primary py-4 px-4 custom-form">
    <div class="d-flex flex-row col-12">
      <h1 class="col-10">Modifier Permission</h1>
      <img src="https://www.svgrepo.com/show/340721/no-image.svg" alt="Today Fit Permission Image" width="50px" class="col-2" id="permission-image">
    </div>

    {{ include('permission/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('permission/_delete_form.html.twig') }}

    <a href="{{ path('app_permission_index') }}" class="btn btn-warning">Retourner à la liste</a>

</section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('editPermission') }}
{% endblock %}
