{% extends 'base.html.twig' %}

{% block title %}New Permission{% endblock %}

{% block body %}
    <h1>Create new Permission</h1>

    {{ include('permission/_form.html.twig') }}

    <a href="{{ path('app_permission_index') }}" class="my-3 btn btn-outline-primary">back to list</a>
{% endblock %}
