{% extends 'base.html.twig' %}

{% block title %}New Permission{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 border border-primary py-4 px-4 custom-form">

    <h1>Nouvelle Permission</h1>

    {{ include('permission/_form.html.twig') }}

    <a href="{{ path('app_permission_index') }}" class="my-3 btn btn-outline-primary">Retourner à la liste</a>
</section>
{% endblock %}
