{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard TodayFit{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Admin Dashboard</h1>
    <br />
    <a href="{{ path('app_franchise_index') }}">Liste de Franchises</a>
    <br />
    <a href="{{ path('app_partner_index') }}">Liste des Structures</a>
    <br />
    <a href="{{ path('app_permission_index') }}">Liste des Permissions</a>
    <br /> 
</div>
{% endblock %}
