{% extends "base.html.twig" %}

{% block title %}Page non trouvé{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 bg-light py-5 px-4 custom-form">

  <h1>Error 404</h1>
  <p>Oooppsss, la page n'a pas été trouvée</p>
</section>
{% endblock %}