{# < PERMISSION #}
<article class ="col-6 p-2">
  <div class="p-3 shadow rounded">
    <img src={{image}} alt="Today Fit Franchise" width="30px" class="text-primary">
    <br/>
    <b class=''>{{permission_name}}</b>
  </div>
</article>
{# > PERMISSION #}