{% extends 'base.html.twig' %}

{% block title %}Editer Franchise{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 border border-primary py-4 px-4 custom-form">

    <h1>Editer Franchise</h1>

    {{ include('franchise/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('franchise/_delete_form.html.twig') }}
    <a href="{{ path('app_franchise_index') }}" class="btn btn-warning">Retourner à la liste</a>


</section>
{% endblock %}
