{% extends 'base.html.twig' %}

{% block title %}Franchises{% endblock %}

{% block body %}
    <section class="d-flex flex-row justify-content-between align-items-center">
      <h1>Franchises</h1>
      <a href="{{ path('app_franchise_new') }}" class="btn btn-danger">Nouvelle Franchise</a>
    </section>

    <section class="container-fluid">
        <div {{ react_component('Franchises')}}></div>
    </section>
{% endblock %}


